<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069855880711-b75l4ptmpv190bp4q7ccglieebpdi01n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069855880711-b75l4ptmpv190bp4q7ccglieebpdi01n</string>
	<key>API_KEY</key>
	<string>AIzaSyAPwXkQ_D9bF5odRjfqtVihL9FCIeU89bI</string>
	<key>GCM_SENDER_ID</key>
	<string>1069855880711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swiftlec.FirebaseList</string>
	<key>PROJECT_ID</key>
	<string>student-6c659</string>
	<key>STORAGE_BUCKET</key>
	<string>student-6c659.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069855880711:ios:2bcc19cb48605792a69ca2</string>
</dict>
</plist>